# Örnek Teorisi

Örnekleme teorisi, bir popülasyondan örnek alma ve bu örnekleri analiz etme yöntemlerini kapsar. Merkezi limit teoremi ise, örneklem büyüklüğüne bağlı olarak örneklem istatistiklerinin (örneğin, ortalama) normal bir dağılıma sahip olacağını ifade eder. Yani merkezi limit teoremi, örnekleme teorisinin daha özel bir durumudur.

Örneğin bir ilçedeki yaş ortalamasını bulmak istiyoruz. Tüm insanlara soramayacağımıza göre 100 kişilik bir örneklem çekip bunun üzerinden analiz yapmalıyız.

In [46]:
import numpy as np

In [47]:
populasyon = np.random.randint(0, 80, 10000)

In [48]:
populasyon[0:10]

array([12, 27, 32, 60, 52, 40, 22, 58, 14, 41], dtype=int32)

In [49]:
# orneklem cekme

np.random.seed(115)
orneklem = np.random.choice(a=populasyon, size=100) # anakitleden 100 tane gozlem cektik
orneklem[0:10]

array([72, 77,  5,  0, 12, 52, 66, 68, 70, 21], dtype=int32)

In [50]:
orneklem.mean()

np.float64(38.07)

In [51]:
populasyon.mean() # Orneklem teorisinin gucu

np.float64(39.2217)

In [53]:
# Orneklem dagilimi
# her orneklem cektigimizde farkli sonuclar alabiliriz. Bunun icin birden fazla orneklem kullanacagiz.
np.random.seed(10)
orneklem1 = np.random.choice(a=populasyon, size=100)
orneklem2 = np.random.choice(a=populasyon, size=100)
orneklem3 = np.random.choice(a=populasyon, size=100)
orneklem4 = np.random.choice(a=populasyon, size=100)
orneklem5 = np.random.choice(a=populasyon, size=100)
orneklem6 = np.random.choice(a=populasyon, size=100)
orneklem7 = np.random.choice(a=populasyon, size=100)
orneklem8 = np.random.choice(a=populasyon, size=100)
orneklem9 = np.random.choice(a=populasyon, size=100)
orneklem10 = np.random.choice(a=populasyon, size=100)

In [54]:
(orneklem1.mean() + orneklem2.mean() + orneklem3.mean() + orneklem4.mean() + orneklem5.mean() + orneklem6.mean()
 + orneklem7.mean() + orneklem8.mean() + orneklem9.mean() + orneklem10.mean()) / 10

np.float64(39.413)

Görüldüğü gibi sonuç oldukça popülasyon ortalamasına yaklaştı. Merkezi Limit Teoremi aracılığıyla popülasyonun ortalamasına yaklaşmış oluyoruz.

In [55]:
orneklem1.mean()

np.float64(40.51)

In [56]:
orneklem2.mean()

np.float64(36.33)

## Betimsel İstatistikler

In [1]:
import seaborn as sns
tips = sns.load_dataset('tips')
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [4]:
!pip install researchpy

Collecting researchpy
  Downloading researchpy-0.3.6-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: scipy in c:\users\alperen arda\appdata\local\programs\python\python311\lib\site-packages (from researchpy) (1.14.0)
Requirement already satisfied: numpy in c:\users\alperen arda\appdata\local\programs\python\python311\lib\site-packages (from researchpy) (1.25.2)
Requirement already satisfied: pandas in c:\users\alperen arda\appdata\local\programs\python\python311\lib\site-packages (from researchpy) (2.2.2)
Requirement already satisfied: statsmodels in c:\users\alperen arda\appdata\local\programs\python\python311\lib\site-packages (from researchpy) (0.14.4)
Requirement already satisfied: patsy in c:\users\alperen arda\appdata\local\programs\python\python311\lib\site-packages (from researchpy) (1.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alperen arda\appdata\local\programs\python\python311\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\alperen arda\appdata\local\programs\python\python311\lib\site-packages (from pandas->researchpy) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\alperen arda\appdata\local\programs\python\python311\lib\site-packages (from pandas->researchpy) (2023.3)
Requirement already satisfied: packaging>=21.3 in c:\users\alperen arda\appdata\roaming\python\python311\site-packages (from statsmodels->researchpy) (23.2)
Requirement already satisfied: six>=1.5 in c:\users\alperen arda\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas->researchpy) (1.16.0)
Downloading researchpy-0.3.6-py3-none-any.whl (34 kB)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.6

In [11]:
import researchpy as rp
rp.summary_cont(df.select_dtypes(exclude=['category']))

C:\Users\Alperen Arda\AppData\Local\Programs\Python\Python311\Lib\site-packages\researchpy\summary.py:102: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'total_bill' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table_a.iloc[0,0] = ix
C:\Users\Alperen Arda\AppData\Local\Programs\Python\Python311\Lib\site-packages\researchpy\summary.py:102: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'tip' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table_a.iloc[0,0] = ix
C:\Users\Alperen Arda\AppData\Local\Programs\Python\Python311\Lib\site-packages\researchpy\summary.py:102: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'size' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table_a.iloc[0,0] = ix

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [13]:
rp.summary_cat(df[['day', 'sex', 'smoker']])

  Variable Outcome  Count  Percent
0      day     Sat     87    35.66
1              Sun     76    31.15
2             Thur     62    25.41
3              Fri     19     7.79
4      sex    Male    157    64.34
5           Female     87    35.66
6   smoker      No    151    61.89
7              Yes     93    38.11

In [14]:
df[['tip', 'total_bill']].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [15]:
df[['tip', 'total_bill']].corr() # pozitif yonlu, orta siddetli bir iliski oldugu anlamina geliyor.

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000