# Artıklar ve Makine Öğrenmesindeki Önemi (Residuals and Their Importance in Machine Learning)

In [1]:
import pandas as pd
ad = pd.read_csv("Advertising.csv")
df = ad.copy()

df = df.iloc[:, 1:len(df)] # index'i sutun olarak aldigi icin
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [2]:
X = df['TV']
y = df['sales']

In [3]:
import statsmodels.formula.api as smf
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
lm = smf.ols("sales ~ TV", df)
model = lm.fit()

In [5]:
mse = mean_squared_error(y, model.fittedvalues)

In [6]:
mse

10.512652915656757

In [7]:
import numpy as np 
rmse = np.sqrt(mse)
rmse

3.2423221486546887

In [8]:
model.predict(X)[0:10]

0    17.970775
1     9.147974
2     7.850224
3    14.234395
4    15.627218
5     7.446162
6     9.765950
7    12.746498
8     7.441409
9    16.530414
dtype: float64

In [9]:
y[0:10]

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
5     7.2
6    11.8
7    13.2
8     4.8
9    10.6
Name: sales, dtype: float64

In [10]:
k_t = pd.DataFrame({'Gerçek Değerler': y[0:10], 'Tahmin Edilen Değerler': model.predict(X)[0:10]})
k_t

   Gerçek Değerler  Tahmin Edilen Değerler
0             22.1               17.970775
1             10.4                9.147974
2              9.3                7.850224
3             18.5               14.234395
4             12.9               15.627218
5              7.2                7.446162
6             11.8                9.765950
7             13.2               12.746498
8              4.8                7.441409
9             10.6               16.530414

In [11]:
k_t['Hata'] = k_t['Gerçek Değerler'] - k_t['Tahmin Edilen Değerler']
k_t

   Gerçek Değerler  Tahmin Edilen Değerler      Hata
0             22.1               17.970775  4.129225
1             10.4                9.147974  1.252026
2              9.3                7.850224  1.449776
3             18.5               14.234395  4.265605
4             12.9               15.627218 -2.727218
5              7.2                7.446162 -0.246162
6             11.8                9.765950  2.034050
7             13.2               12.746498  0.453502
8              4.8                7.441409 -2.641409
9             10.6               16.530414 -5.930414

In [17]:
k_t['Hata kare'] = k_t["Hata"]**2
k_t

   Gerçek Değerler  Tahmin Edilen Değerler      Hata  Hata kare
0             22.1               17.970775  4.129225  17.050503
1             10.4                9.147974  1.252026   1.567569
2              9.3                7.850224  1.449776   2.101851
3             18.5               14.234395  4.265605  18.195390
4             12.9               15.627218 -2.727218   7.437719
5              7.2                7.446162 -0.246162   0.060596
6             11.8                9.765950  2.034050   4.137358
7             13.2               12.746498  0.453502   0.205664
8              4.8                7.441409 -2.641409   6.977040
9             10.6               16.530414 -5.930414  35.169814

In [18]:
mse_mine = k_t['Hata kare'].mean()
mse_mine

9.290350329638104

In [20]:
rmse_mine = np.sqrt(mse_mine)