In [2]:
import pandas as pd

In [3]:
# DataFrame

In [4]:
# DataFrame, tablo oluşturur.
# A DataFrame is a table. It contains an array of individual entries, each of which has a certain value.
pd.DataFrame({'Yes': [50,21,4], 'No':[131,2,None]})

   Yes     No
0   50  131.0
1   21    2.0
2    4    NaN

In [5]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [6]:
# The list of row labels used in a DataFrame is known as an Index. 
# We can assign values to it by using an index parameter in our constructor:

In [7]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
              index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [8]:
# Series

In [9]:
# If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list:

In [10]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
# Seriler
# Bir Seri, özünde bir DataFrame'in tek bir sütunudur.
# Böylece, bir indeks parametresi kullanarak, daha önce olduğu gibi Serilere satır etiketleri atayabilirsiniz. 
# Ancak bir Serinin sütun adı yoktur, yalnızca tek bir genel adı vardır:

In [15]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [16]:
# Reading data files

In [17]:
# Product A,Product B,Product C,
# 30,21,9,
# 35,34,1,
# 41,11,11
# So a CSV file is a table of values separated by commas. 
# Hence the name: "Comma-Separated Values", or CSV.

In [ ]:
# şu ana kadar yazdıklarını tekrar et.
# python kursundaki pandas ı tekrar et.