In [2]:
import pandas as pd

In [3]:
reviews = pd.read_csv("C:/Users/Alperen Arda/OneDrive/Desktop/GitHub/Data-Science-and-Machine-Learning-Tutorial/Datasets/cats_dataset.csv")

In [4]:
reviews

                  Breed  Age (Years)  Weight (kg)          Color  Gender
0          Russian Blue           19            7  Tortoiseshell  Female
1      Norwegian Forest           19            9  Tortoiseshell  Female
2             Chartreux            3            3          Brown  Female
3               Persian           13            6          Sable  Female
4               Ragdoll           10            8          Tabby    Male
..                  ...          ...          ...            ...     ...
995   British Shorthair           19            5           Gray  Female
996   British Shorthair           11            2        Bicolor  Female
997            Savannah           12            5        Bicolor  Female
998  American Shorthair            8            3  Tortoiseshell  Female
999           Chartreux           11            4          Sable  Female

[1000 rows x 5 columns]

In [12]:
reviews["Age (Years)"].max()

19

In [14]:
# Pandas'ta özelliklere erişmek için "tablo_adi.ozellik_ismi" şeklinde yazabiliriz.
reviews.Color

0      Tortoiseshell
1      Tortoiseshell
2              Brown
3              Sable
4              Tabby
           ...
995             Gray
996          Bicolor
997          Bicolor
998    Tortoiseshell
999            Sable
Name: Color, Length: 1000, dtype: object

In [15]:
# Sözlük tarzında kullanarak da aynı şekilde verilere erişebiliriz. "tablo_adi[ozellik_ismi]"
reviews["Color"]

0      Tortoiseshell
1      Tortoiseshell
2              Brown
3              Sable
4              Tabby
           ...
995             Gray
996          Bicolor
997          Bicolor
998    Tortoiseshell
999            Sable
Name: Color, Length: 1000, dtype: object

In [16]:
# Bunlar bir DataFrame'den belirli bir Seriyi seçmenin iki yoludur. 
# İkisi de sözdizimsel olarak diğerinden daha fazla veya daha az geçerli değildir, ancak indeksleme operatörü [], 
# içinde ayrılmış karakterlerin bulunduğu sütun adlarını işleyebilme avantajına sahiptir.

In [21]:
reviews["Color"][0]

'Tortoiseshell'