In [2]:
import pandas as pd

In [3]:
cats = pd.read_csv("C:/Users/Alperen Arda/OneDrive/Desktop/GitHub/Data-Science-and-Machine-Learning-Tutorial/Datasets/cats_dataset.csv")

In [4]:
cats

                  Breed  Age (Years)  Weight (kg)          Color  Gender
0          Russian Blue           19            7  Tortoiseshell  Female
1      Norwegian Forest           19            9  Tortoiseshell  Female
2             Chartreux            3            3          Brown  Female
3               Persian           13            6          Sable  Female
4               Ragdoll           10            8          Tabby    Male
..                  ...          ...          ...            ...     ...
995   British Shorthair           19            5           Gray  Female
996   British Shorthair           11            2        Bicolor  Female
997            Savannah           12            5        Bicolor  Female
998  American Shorthair            8            3  Tortoiseshell  Female
999           Chartreux           11            4          Sable  Female

[1000 rows x 5 columns]

In [5]:
cats["Age (Years)"].describe()

count    1000.000000
mean       10.210000
std         5.535751
min         1.000000
25%         5.000000
50%        10.000000
75%        15.000000
max        19.000000
Name: Age (Years), dtype: float64

In [6]:
cats["Gender"].describe()

count     1000
unique       2
top       Male
freq       505
Name: Gender, dtype: object

In [7]:
# daha özel ve kısa istatistikler için
cats["Weight (kg)"].mean()

5.55

In [8]:
cats.Breed.unique()

array(['Russian Blue', 'Norwegian Forest', 'Chartreux', 'Persian',
       'Ragdoll', 'Ocicat', 'Abyssinian', 'Oriental', 'Egyptian Mau',
       'American Shorthair', 'Bengal', 'Cornish Rex', 'British Shorthair',
       'Burmese', 'Singapura', 'Maine Coon', 'Turkish Angora',
       'Himalayan', 'Sphynx', 'Manx', 'Siberian', 'Birman', 'Balinese',
       'Devon Rex', 'Exotic Shorthair', 'Scottish Fold', 'Savannah',
       'Munchkin', 'Siamese', 'Tonkinese'], dtype=object)

In [10]:
cats.Breed.value_counts() # o sütundaki her farklı özellikten kaç tane olduğunu gösterir.

Breed
Ragdoll               51
American Shorthair    40
Egyptian Mau          39
Persian               37
Oriental              37
British Shorthair     36
Burmese               36
Balinese              35
Bengal                35
Siberian              34
Birman                33
Manx                  33
Maine Coon            33
Abyssinian            33
Ocicat                33
Chartreux             33
Singapura             32
Munchkin              32
Sphynx                32
Siamese               32
Exotic Shorthair      31
Turkish Angora        31
Savannah              31
Scottish Fold         31
Tonkinese             30
Himalayan             30
Cornish Rex           29
Devon Rex             28
Russian Blue          28
Norwegian Forest      25
Name: count, dtype: int64

In [ ]:
cats.Gender.value_counts()

Gender
Male      505
Female    495
Name: count, dtype: int64

In [ ]:
# map, Pandas DataFrame ve Series üzerinde eleman bazında dönüşümler yapmak için kullanılan bir yöntemdir. 
# map yöntemi, bir fonksiyonu veya bir eşleme (mapping) dizisini, Series'in her bir elemanına uygulayarak yeni bir Series oluşturur.

In [ ]:
cats_weight_mean = cats["Weight (kg)"].mean()

In [ ]:
cats_result = cats["Weight (kg)"].map(lambda p : p - cats_weight_mean)

In [ ]:
######### önemli #########
positive = cats_result[cats_result > 0]

In [ ]:
positive

0      1.45
1      3.45
3      0.45
4      2.45
5      2.45
       ...
988    3.45
989    3.45
990    0.45
991    3.45
992    1.45
Name: Weight (kg), Length: 504, dtype: float64

In [ ]:
positive = cats_result.loc[cats_result > 0]

In [ ]:
positive

0      1.45
1      3.45
3      0.45
4      2.45
5      2.45
       ...
988    3.45
989    3.45
990    0.45
991    3.45
992    1.45
Name: Weight (kg), Length: 504, dtype: float64

In [ ]:
def remean_weights(row):
    row["Weight (kg)"] = row["Weight (kg)"] - cats_weight_mean
    return row

cats.apply(remean_weights, axis="columns")

# apply fonksiyonu, DataFrame'in her bir satır veya sütununa belirli bir fonksiyonu uygulamak için kullanılır; 
# axis="columns" ifadesi, fonksiyonun satır bazında uygulanacağını belirtir.
#
# Reviews.apply() işlevini axis='index' ile çağırmış olsaydık, her satırı dönüştürmek için bir işlev iletmek yerine, her sütunu dönüştürmek için bir işlev vermemiz gerekirdi.
# ve ayrıca weight parametresi yerine SÜTUN parametresi vermeliydik.
# axis=0(index) sütunlara göre, axis=1(columns) ise satırlara göre işlem yapar.
# lambda daha basit fonksiyonlar için kullanılır.

                  Breed  Age (Years)  Weight (kg)          Color  Gender
0          Russian Blue           19         1.45  Tortoiseshell  Female
1      Norwegian Forest           19         3.45  Tortoiseshell  Female
2             Chartreux            3        -2.55          Brown  Female
3               Persian           13         0.45          Sable  Female
4               Ragdoll           10         2.45          Tabby    Male
..                  ...          ...          ...            ...     ...
995   British Shorthair           19        -0.55           Gray  Female
996   British Shorthair           11        -3.55        Bicolor  Female
997            Savannah           12        -0.55        Bicolor  Female
998  American Shorthair            8        -2.55  Tortoiseshell  Female
999           Chartreux           11        -1.55          Sable  Female

[1000 rows x 5 columns]

In [ ]:
# Note that map ve apply fonksiyonları orijinal veriyi değiştirmez.

In [ ]:
cats.head(1)

          Breed  Age (Years)  Weight (kg)          Color  Gender
0  Russian Blue           19            7  Tortoiseshell  Female

In [ ]:
cats_weight_mean = cats["Weight (kg)"].mean()
cats["Weight (kg)"] - cats_weight_mean # burada pandas tüm verilerden(cats) - tek bir veriyi(cats_weight_mean) çıkarmamız gerektiğini anlar.

0      1.45
1      3.45
2     -2.55
3      0.45
4      2.45
       ...
995   -0.55
996   -3.55
997   -0.55
998   -2.55
999   -1.55
Name: Weight (kg), Length: 1000, dtype: float64

In [ ]:
cats.Breed + " - " + cats.Color

0            Russian Blue - Tortoiseshell
1        Norwegian Forest - Tortoiseshell
2                       Chartreux - Brown
3                         Persian - Sable
4                         Ragdoll - Tabby
                      ...
995              British Shorthair - Gray
996           British Shorthair - Bicolor
997                    Savannah - Bicolor
998    American Shorthair - Tortoiseshell
999                     Chartreux - Sable
Length: 1000, dtype: object

In [ ]:
# "Built-in" terimi, bir yazılım veya kütüphaneye önceden dahil edilmiş ve varsayılan olarak kullanılabilen özellikleri ve fonksiyonları ifade eder. 
# Bu terim, yazılım geliştiricilerin özel bir kurulum veya ek yapılandırma yapmadan doğrudan kullanabileceği işlevselliği belirtir.