In [1]:
import pandas as pd

In [2]:
my_data = pd.read_csv("C:/Users/Alperen Arda/OneDrive/Desktop/GitHub/Data-Science-and-Machine-Learning-Tutorial/Datasets/cats_dataset.csv")

In [3]:
# You can use the dtype property to grab(almak) the type of a specific column.

In [10]:
my_data["Age (Years)"].dtype

dtype('int64')

In [9]:
my_data.dtypes

Breed          object
Age (Years)     int64
Weight (kg)     int64
Color          object
Gender         object
dtype: object

In [11]:
# Data types tell us something about how pandas is storing the data internally
# Veri türleri bize pandaların verileri dahili olarak nasıl sakladıkları hakkında bir şeyler anlatır.

In [12]:
my_data["Age (Years)"].astype("Float64")
# Bu kod, 'my_data' DataFrame'indeki 'age' sütununu tam sayı (int64) tipinden ondalıklı sayı (float64) tipine dönüştürür.

0      19.0
1      19.0
2       3.0
3      13.0
4      10.0
       ...
995    19.0
996    11.0
997    12.0
998     8.0
999    11.0
Name: Age (Years), Length: 1000, dtype: Float64

In [14]:
my_data.index.dtype

dtype('int64')

In [15]:
# Pandas ayrıca kategorik veri ve zaman serisi verisi gibi daha egzotik veri tiplerini de destekler.
# Bu veri tipleri daha nadir kullanıldığı için, bu eğitimin çok daha ileri bir bölümüne kadar onları atlayacağız.
# "Egzotik veri tipleri" ifadesi, yaygın olmayan veya daha özel amaçlı veri tiplerini ifade eder.

In [16]:
# MISSING DATA
# Entries missing values are given the value NaN, short for "Not a Number". For technical reasons these NaN values are always of the float64 dtype.

In [18]:
my_data[pd.isnull(my_data.Breed)] # burada eksik veri yok :p ama olsaydı Breed sütununda NaN olanları dataframe olarak döndürürdü.

Empty DataFrame
Columns: [Breed, Age (Years), Weight (kg), Color, Gender]
Index: []

In [19]:
# fillna() provides a few different strategies for mitigating such data. For example, we can simply replace each NaN with an "Unknown":

In [20]:
my_data.Breed.fillna("Unknown")

0            Russian Blue
1        Norwegian Forest
2               Chartreux
3                 Persian
4                 Ragdoll
              ...
995     British Shorthair
996     British Shorthair
997              Savannah
998    American Shorthair
999             Chartreux
Name: Breed, Length: 1000, dtype: object

In [21]:
# Veya eksik olan her değeri, veri tabanındaki kayıttan bir süre sonra ortaya çıkan boş olmayan ilk değerle doldurabiliriz.
# Bu, dolgu stratejisi(backfill strategy) olarak bilinir.
# Diyelim ki şöyle bir veri setimiz var:

'''
1. NaN
2. NaN
3. A
4. B
5. NaN
6. C
Backfill stratejisi uygulandığında sonuç şöyle olur:
less

Copy
1. A    (3. satırdaki 'A' ile dolduruldu)
2. A    (3. satırdaki 'A' ile dolduruldu)
3. A
4. B
5. C    (6. satırdaki 'C' ile dolduruldu)
6. C'''

In [25]:
# Alternatif olarak, değiştirmek istediğimiz boş olmayan bir değere de sahip olabiliriz. Bunun için:
my_data["Breed"] = my_data["Breed"].replace("Turkish Angora", "Ankara Kedisi")

In [29]:
my_data.loc[my_data.Breed == "Ankara Kedisi"]

             Breed  Age (Years)  Weight (kg)          Color  Gender
23   Ankara Kedisi           16            6          Sable  Female
47   Ankara Kedisi           11            5        Bicolor    Male
87   Ankara Kedisi            9            3         Orange    Male
91   Ankara Kedisi            5            4          Brown    Male
109  Ankara Kedisi            6            6          Brown  Female
155  Ankara Kedisi           19            3           Gray    Male
161  Ankara Kedisi           14            3          Brown    Male
179  Ankara Kedisi           15            8            Red    Male
205  Ankara Kedisi            7            7          Sable    Male
222  Ankara Kedisi           10            4          Tabby  Female
293  Ankara Kedisi           18            8           Gray    Male
305  Ankara Kedisi           11            3         Calico  Female
384  Ankara Kedisi            1            9          Cream    Male
411  Ankara Kedisi           19            9          Brown    Male
431  Ankara Kedisi            1            2           Blue  Female
459  Ankara Kedisi            6            6  Tortoiseshell    Male
644  Ankara Kedisi           14            3           Blue    Male
658  Ankara Kedisi            6            8         Calico    Male
703  Ankara Kedisi            2            7        Pointed    Male
731  Ankara Kedisi            4            5         Orange    Male
739  Ankara Kedisi           18            7        Pointed    Male
765  Ankara Kedisi           19            9        Bicolor  Female
803  Ankara Kedisi            4            6         Calico    Male
814  Ankara Kedisi            8            2       Tricolor  Female
830  Ankara Kedisi           13            2         Calico  Female
849  Ankara Kedisi           16            4          Black  Female
854  Ankara Kedisi           17            5           Blue    Male
862  Ankara Kedisi            8            3          Black    Male
870  Ankara Kedisi           12            8          Cream    Male
875  Ankara Kedisi           19            8           Gray    Male
897  Ankara Kedisi           13            8           Gray    Male