In [2]:
import pandas as pd

In [3]:
# DataFrame

In [4]:
# DataFrame, tablo oluşturur.
# A DataFrame is a table. It contains an array of individual entries, each of which has a certain value.
pd.DataFrame({'Yes': [50,21,4], 'No':[131,2,None]})

   Yes     No
0   50  131.0
1   21    2.0
2    4    NaN

In [5]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [6]:
# The list of row labels used in a DataFrame is known as an Index. 
# We can assign values to it by using an index parameter in our constructor:

In [7]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
              index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [8]:
# Series

In [9]:
# If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list:

In [10]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
# Seriler
# Bir Seri, özünde bir DataFrame'in tek bir sütunudur.
# Böylece, bir indeks parametresi kullanarak, daha önce olduğu gibi Serilere satır etiketleri atayabilirsiniz. 
# Ancak bir Serinin sütun adı yoktur, yalnızca tek bir genel adı vardır:

In [12]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [13]:
# Reading data files

In [14]:
# Product A,Product B,Product C,
# 30,21,9,
# 35,34,1,
# 41,11,11
# So a CSV file is a table of values separated by commas. 
# Hence the name: "Comma-Separated Values", or CSV.

In [21]:
wine_reviews = pd.read_csv("C:/Users/Alperen Arda/OneDrive/Desktop/GitHub/Data-Science-and-Machine-Learning-Tutorial/Datasets/housing.csv")

In [22]:
wine_reviews.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [20]:
wine_reviews.shape

(8, 3)

In [ ]:
wine_reviews = pd.read_csv("C:/Users/Alperen Arda/OneDrive/Desktop/GitHub/Data-Science-and-Machine-Learning-Tutorial/Datasets/housing.csv", index_col=0)

In [ ]:
##### index_col=0, ilk sütunu index olarak alır.

In [ ]:
wine_reviews.head()

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
longitude,,,,,,,,,
-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [23]:
# Not: Yaptığımız dataframeleri csv olarak kaydedebiliriz.

In [24]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [26]:
animals.to_csv("C:/Users/Alperen Arda/OneDrive/Desktop/GitHub/Data-Science-and-Machine-Learning-Tutorial/Datasets/animals.csv")