In [1]:
import seaborn as sns
import missingno as missingno
import pandas as pd
df = sns.load_dataset('titanic')
df = df.select_dtypes(include=['float64', 'int64'])
print(df.head())
df.isnull().sum()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

Makine öğrenmesine dayalı tekniklerle boş gözlemleri doldurabiliriz.

In [2]:
from ycimpute.imputer import knnimput # burada k en yakın komşuluk ilişkisi algoritmasını kullanacağız.

In [3]:
var_names = list(df)
var_names

['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare']

In [4]:
import numpy as np
n_df = np.array(df)

In [5]:
n_df

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       ...,
       [ 0.    ,  3.    ,     nan,  1.    ,  2.    , 23.45  ],
       [ 1.    ,  1.    , 26.    ,  0.    ,  0.    , 30.    ],
       [ 0.    ,  3.    , 32.    ,  0.    ,  0.    ,  7.75  ]])

In [6]:
n_df.shape

(891, 6)

In [7]:
dff = knnimput.KNN(k=4).complete(n_df) # KNN bir makine ogrenmesi algoritmasidir. buradaki k parametresini sonra gorecegiz ama kisaca 'en yakin 4 komsusunu al' demektir.

Imputing row 1/891 with 0 missing, elapsed time: 0.084
Imputing row 101/891 with 0 missing, elapsed time: 0.085
Imputing row 201/891 with 0 missing, elapsed time: 0.085
Imputing row 301/891 with 1 missing, elapsed time: 0.086
Imputing row 401/891 with 0 missing, elapsed time: 0.086
Imputing row 501/891 with 0 missing, elapsed time: 0.086
Imputing row 601/891 with 0 missing, elapsed time: 0.087
Imputing row 701/891 with 0 missing, elapsed time: 0.087
Imputing row 801/891 with 0 missing, elapsed time: 0.087

In [8]:
dff = pd.DataFrame(dff, columns=var_names)

In [9]:
type(dff)
dff

     survived  pclass        age  sibsp  parch     fare
0         0.0     3.0  22.000000    1.0    0.0   7.2500
1         1.0     1.0  38.000000    1.0    0.0  71.2833
2         1.0     3.0  26.000000    0.0    0.0   7.9250
3         1.0     1.0  35.000000    1.0    0.0  53.1000
4         0.0     3.0  35.000000    0.0    0.0   8.0500
..        ...     ...        ...    ...    ...      ...
886       0.0     2.0  27.000000    0.0    0.0  13.0000
887       1.0     1.0  19.000000    0.0    0.0  30.0000
888       0.0     3.0  26.026414    1.0    2.0  23.4500
889       1.0     1.0  26.000000    0.0    0.0  30.0000
890       0.0     3.0  32.000000    0.0    0.0   7.7500

[891 rows x 6 columns]

In [10]:
# random forests

In [11]:
df = sns.load_dataset('titanic')
df = df.select_dtypes(include=['float64', 'int64'])

In [12]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [13]:
var_names = list(df)

In [14]:
n_df = np.array(df)

In [15]:
from sklearn.impute import SimpleImputer
dff = SimpleImputer(missing_values=np.nan, strategy="mean").fit(n_df).transform(n_df)

In [16]:
dff = pd.DataFrame(dff, columns=var_names)

In [17]:
dff

     survived  pclass        age  sibsp  parch     fare
0         0.0     3.0  22.000000    1.0    0.0   7.2500
1         1.0     1.0  38.000000    1.0    0.0  71.2833
2         1.0     3.0  26.000000    0.0    0.0   7.9250
3         1.0     1.0  35.000000    1.0    0.0  53.1000
4         0.0     3.0  35.000000    0.0    0.0   8.0500
..        ...     ...        ...    ...    ...      ...
886       0.0     2.0  27.000000    0.0    0.0  13.0000
887       1.0     1.0  19.000000    0.0    0.0  30.0000
888       0.0     3.0  29.699118    1.0    2.0  23.4500
889       1.0     1.0  26.000000    0.0    0.0  30.0000
890       0.0     3.0  32.000000    0.0    0.0   7.7500

[891 rows x 6 columns]

In [18]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

In [19]:
# EM

In [20]:
df = sns.load_dataset('titanic')
df = df.select_dtypes(include=['float64', 'int64'])

In [21]:
from ycimpute.imputer import EM

In [22]:
var_names = list(df)

In [23]:
n_df = np.array(df)

In [24]:
dff = EM().complete(n_df)

In [25]:
dff = pd.DataFrame(dff, columns=var_names)

In [26]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

In [27]:
dff

     survived  pclass   age  sibsp  parch     fare
0         0.0     3.0  22.0    1.0    0.0   7.2500
1         1.0     1.0  38.0    1.0    0.0  71.2833
2         1.0     3.0  26.0    0.0    0.0   7.9250
3         1.0     1.0  35.0    1.0    0.0  53.1000
4         0.0     3.0  35.0    0.0    0.0   8.0500
..        ...     ...   ...    ...    ...      ...
886       0.0     2.0  27.0    0.0    0.0  13.0000
887       1.0     1.0  19.0    0.0    0.0  30.0000
888       0.0     3.0   0.0    1.0    2.0  23.4500
889       1.0     1.0  26.0    0.0    0.0  30.0000
890       0.0     3.0  32.0    0.0    0.0   7.7500

[891 rows x 6 columns]