# Metin Madenciliği ve Doğal Dil İşlemeye Giriş

Metin madenciliği, büyük miktardaki metin verisinden anlamlı bilgiler, desenler ve ilişkiler çıkarmayı amaçlayan bir veri analizi sürecidir.

Doğal dil işleme (NLP) ise bilgisayarların insan dilini anlaması, yorumlaması ve üretmesi için geliştirilen yapay zekâ yöntemlerini kapsayan bir bilim dalıdır.

In [1]:
import pandas as pd

metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

In [2]:
v_metin = metin.split("\n")

In [3]:
v = pd.Series(v_metin)
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [4]:
metin_vektoru = v[1:len(v)]

In [5]:
metin_vektoru

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [6]:
mdf = pd.DataFrame(metin_vektoru, columns=["Stories"])

In [7]:
mdf

                                  Stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [8]:
d_mdf = mdf.copy()

In [9]:
d_mdf

                                  Stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [10]:
list1 = [1, 2, 3]

In [11]:
str1 = " ".join(str(i) for i in list1) ################ çok kritik

In [12]:
str1

'1 2 3'

In [13]:
d_mdf = d_mdf["Stories"].apply(lambda x: " ".join(x.lower() for x in x.split())) ######### çok sert
d_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Stories, dtype: object

In [14]:
d_mdf = pd.DataFrame(d_mdf, columns=["Stories"])

## Noktalama İşaretlerinin Silinmesi

In [15]:
d_mdf = d_mdf["Stories"].str.replace(r"[^\w\s]", "", regex=True) #[^\w\s] = karakter ve space olmayan tüm karakterleri seç ve "" ile yer değiştir. ######################

In [16]:
d_mdf

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Stories, dtype: object

## Sayıların silinmesi

In [17]:
d_mdf = d_mdf.str.replace(r"\d", "", regex=True)

## Stopwordslerin silinmesi

Stopwords, örneğin ingilizcede sık kullanılan the, a gibi kelimeleri ifade eder.

In [18]:
d_mdf = pd.DataFrame(d_mdf, columns=["Stories"])

In [19]:
!pip install nltk

Requirement already satisfied: nltk in q:\users\a_arda\desktop\github\data-science-and-machine-learning-tutorial\data_book\lib\site-packages (3.9.2)
Requirement already satisfied: click in q:\users\a_arda\desktop\github\data-science-and-machine-learning-tutorial\data_book\lib\site-packages (from nltk) (8.3.0)
Requirement already satisfied: joblib in q:\users\a_arda\desktop\github\data-science-and-machine-learning-tutorial\data_book\lib\site-packages (from nltk) (1.5.2)
Requirement already satisfied: regex>=2021.8.3 in q:\users\a_arda\desktop\github\data-science-and-machine-learning-tutorial\data_book\lib\site-packages (from nltk) (2025.9.18)
Requirement already satisfied: tqdm in q:\users\a_arda\desktop\github\data-science-and-machine-learning-tutorial\data_book\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in q:\users\a_arda\desktop\github\data-science-and-machine-learning-tutorial\data_book\lib\site-packages (from click->nltk) (0.4.6)

In [20]:
import nltk
import ssl

try:
    _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    pass
else:
    ssl._create_default_https_context = _create_unverified_https_context

nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [21]:
from nltk.corpus import stopwords

In [22]:
sw = stopwords.words("english")

In [23]:
sw

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [24]:
d_mdf = d_mdf["Stories"].apply(lambda x: " ".join(x for x in x.split() if x not in sw)) #### çok önemli

In [25]:
d_mdf

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: Stories, dtype: object

## Az geçen kelimelerin silinmesi

In [26]:
d_mdf = pd.DataFrame(d_mdf, columns=["Stories"])

In [27]:
pd.Series(" ".join(d_mdf["Stories"]).split()).value_counts()

adventure    6
scandal      1
redheaded    1
bohemia      1
case         1
identity     1
boscombe     1
valley       1
mystery      1
five         1
orange       1
league       1
pips         1
man          1
twisted      1
lip          1
blue         1
carbuncle    1
speckled     1
band         1
engineers    1
thumb        1
noble        1
bachelor     1
beryl        1
coronet      1
copper       1
beeches      1
Name: count, dtype: int64

In [28]:
sil = pd.Series(" ".join(d_mdf["Stories"]).split()).value_counts()[-3:]

In [29]:
sil

coronet    1
copper     1
beeches    1
Name: count, dtype: int64

In [30]:
d_mdf = d_mdf["Stories"].apply(lambda x: " ".join(x for x in x.split() if x not in sil))

In [31]:
d_mdf

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11              adventure beryl
12                    adventure
Name: Stories, dtype: object

## Tokenization

In [32]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\a_arda\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [33]:
!pip install textblob

Requirement already satisfied: textblob in q:\users\a_arda\desktop\github\data-science-and-machine-learning-tutorial\data_book\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in q:\users\a_arda\desktop\github\data-science-and-machine-learning-tutorial\data_book\lib\site-packages (from textblob) (3.9.2)
Requirement already satisfied: click in q:\users\a_arda\desktop\github\data-science-and-machine-learning-tutorial\data_book\lib\site-packages (from nltk>=3.9->textblob) (8.3.0)
Requirement already satisfied: joblib in q:\users\a_arda\desktop\github\data-science-and-machine-learning-tutorial\data_book\lib\site-packages (from nltk>=3.9->textblob) (1.5.2)
Requirement already satisfied: regex>=2021.8.3 in q:\users\a_arda\desktop\github\data-science-and-machine-learning-tutorial\data_book\lib\site-packages (from nltk>=3.9->textblob) (2025.9.18)
Requirement already satisfied: tqdm in q:\users\a_arda\desktop\github\data-science-and-machine-learning-tutorial\data_book\lib\site-packages (from nltk>=3.9->textblob) (4.67.1)
Requirement already satisfied: colorama in q:\users\a_arda\desktop\github\data-science-and-machine-learning-tutorial\data_book\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)

In [34]:
import textblob

In [35]:
from textblob import TextBlob

In [36]:
d_mdf = pd.DataFrame(d_mdf, columns=["Stories"])

Tokenization, bir metni veya veriyi küçük parçalar halinde ayırma işlemidir. Bu işlem, metin veya veri analizinde, doğal dil işleme (NLP) ve kriptografi gibi çeşitli alanlarda kullanılır.

Örneğin, bir cümledeki kelimeleri ayırmak için tokenization kullanılabilir:

"Cümle: 'Merhaba, nasılsınız?'"

Tokenleştirme sonucu: ["Merhaba", ",", "nasılsınız", "?"]

![](image01.png)

## Stemming

In [40]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [42]:
d_mdf['Stories'].apply(lambda x: " ".join([st.stem(i) for i in x.split()]))

1            scandal bohemia
2              redhead leagu
3                 case ident
4     boscomb valley mysteri
5             five orang pip
6              man twist lip
7     adventur blue carbuncl
8       adventur speckl band
9       adventur engin thumb
10    adventur nobl bachelor
11            adventur beryl
12                  adventur
Name: Stories, dtype: object

## Lemmatization

In [43]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\a_arda\AppData\Roaming\nltk_data...

True

In [47]:
d_mdf = d_mdf['Stories'].apply(lambda x: " ".join([Word(i).lemmatize() for i in x.split()]))

Lemmatization = Bir kelimenin ek almış hallerinin eklerinden ayırarak tek bir kök altında toplanması

## Karşılaştırma

In [48]:
mdf["Stories"][0:5]

1        A Scandal in Bohemia! 01
2         The Red-headed League,2
3          A Case, of Identity 33
4    The Boscombe Valley Mystery4
5           The Five Orange Pips1
Name: Stories, dtype: object

In [50]:
d_mdf = pd.DataFrame(d_mdf, columns=["Stories"])

In [51]:
d_mdf["Stories"][0:5]

1            scandal bohemia
2           redheaded league
3              case identity
4    boscombe valley mystery
5            five orange pip
Name: Stories, dtype: object