# Data Preprocessing

* `preprocess.py` dosyasının oluşturulması
* Sınıfın ve fonksiyonların oluşturulması

  * single aykırı değişken analizi → IQR

    * sil veya doldur
  * multi aykırı değişken analizi → LOF

    * sil veya doldur

---

#### Bilgi 1:

Gradient Descent optimizasyon algoritmasını kullanan modellerde **scaling** etmeliyiz.
Linear regresyon gibi algoritmalar scaling'den etkilenmediği için her koşulda scaling fonksiyonu yazabiliriz.
**Scale etmekten zarar görmezsin ama unutursan yandın.**
↳ katsayı yorumlama zorlaşabilir.

---

#### Bilgi 2:

Label Encoding, kategorik değişkenlerin ordinal sırasına göre encode etmeyebilir.
Verilen kategorik değişken elemanlarını önce harf sırasına göre sıralar sonra sayı verir.
Bunun için **Ordinal Encoding** kullanılmalıdır.

---

#### Bilgi 3:

`pandas.get_dummies()` dataframe üzerinde doğrudan çalışır ve statik bir dönüşüm yapar.
**OneHotEncoder** ise pipeline'a uyumlu çalışır ve sorun çıkarmaz.

---

#### Bilgi 4:

`.yaml` dosyaları **environment** oluştururken işe yarar.
Oluşturduktan sonra bir katkısı yoktur.

---

İstersen Markdown, LaTeX veya PDF şeklinde de düzenleyebilirim. Nasıl istersin?

In [1]:
import seaborn as sns
import pandas as pd
df = sns.load_dataset("diamonds")
df = df.select_dtypes(include=["float64", "int64"])
df = df.dropna()
df.head()

   carat  depth  table  price     x     y     z
0   0.23   61.5   55.0    326  3.95  3.98  2.43
1   0.21   59.8   61.0    326  3.89  3.84  2.31
2   0.23   56.9   65.0    327  4.05  4.07  2.31
3   0.29   62.4   58.0    334  4.20  4.23  2.63
4   0.31   63.3   58.0    335  4.34  4.35  2.75

In [2]:
df_table = df["table"]

In [3]:
Q1 = df_table.quantile(0.25)
Q3 = df_table.quantile(0.75)
IQR = 1.5 * (Q3 - Q1)

In [4]:
lower_limit = Q1 - IQR

In [5]:
upper_limit = Q3 + IQR

In [6]:
aykiri_tf = (df_table < lower_limit) | (df_table > upper_limit)

In [8]:
df_table[aykiri_tf] = df_table.mean()

C:\Users\aalperen.arda\AppData\Local\Temp\ipykernel_7436\3741757661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_table[aykiri_tf] = df_table.mean()