In [1]:
import yfinance as yf
# py -3.13 -m pip install pandas_datareader

In [2]:
df = yf.download("AAPL")
df.tail()

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
2024-11-29,237.330002,237.330002,237.809998,233.970001,234.809998,28481400
2024-12-02,239.589996,239.589996,240.789993,237.160004,237.270004,48137100
2024-12-03,242.649994,242.649994,242.759995,238.899994,239.809998,38861000
2024-12-04,243.009995,243.009995,244.110001,241.250000,242.869995,44383900
2024-12-05,243.039993,243.039993,244.539993,242.130005,243.990005,39961900

In [3]:
tekrar et 
full tekrar yap

SyntaxError: invalid syntax (1690219637.py, line 1)